body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/911/438/non_2x/light-brown-texture-background-free-photo.jpg)}

.container {
    position: relative;
}
img {
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    border: 10px solid white;
    border-color:white;

}

    img:hover {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }

h1{
    font-size: 30px;
    color: darkred;
}

h2 {
    font-size: 20px;
    color: maroon;
}
 
.text-block {
    position: absolute;
    bottom: 500px;
    right: 800px;
    background-color: transparent;
    border: 10px solid white;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size:30px;
 }

.frame {
    display: inline-block;
    background-color: white;
    opacity: .8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    width: 800px;
    font-size: 11pt;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

 
.wrapper .sidebar {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


    .wrapper .sidebar ul li a {
        display: block;
        padding: 13px 30px;
        border-bottom: 1px solid white;
        color: sienna;
        font-size: 16px;
        position: relative;
    }

        .wrapper .sidebar ul li a .icon {
            color: sienna;
            width: 30px;
            display: inline-block;
        }


        .wrapper .sidebar ul li a:hover,
        .wrapper .sidebar ul li a.active {
            color: white;
            background: brown;
            font: bold;
            border-left: 2px solid;
        }

            .wrapper .sidebar ul li a:hover .icon,
            .wrapper .sidebar ul li a.active .icon {
                color: white;
            }

            .wrapper .sidebar ul li a:hover:before,
            .wrapper .sidebar ul li a.active:before {
                display: block;
            }

.footer {
    position: fixed;
    left: 10px;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    background-color: white;
    opacity:0.5;
    color: black;
    text-align: center;
}

b{
    color: darkred;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: maroon;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a:link{
    color: maroon;
}

a:hover{
    color: salmon
}


@media only screen and (max-width : 660px) {
    ul li {
        display: block;
        float: none;
    }
     

    .framefooter {
        display: inline;
        background-color: white;
        opacity: .8;
        border-radius: 15px;
        color: darkgoldenrod;
        font-family: 'Verdana';
        font-size: 16px;
        text-shadow: -5pt 2pt 4pt white;
        margin-bottom: 40px;
    }

    .frame {
        background-color: white;
        opacity: .8;
        border-radius: 15px;
        width: 100%;
   
    }

    .text-block { 
          color: maroon;    }
     


    img {
        width: 0px;
    }

        img:hover {
            width: 0px;
        }

    header {
        color: saddlebrown;
        font-family: 'Verdana';
        float: right;
        max-width: 100px;
    }

    h1 {
        color: maroon;
        font-family: 'Times New Roman';
        font-size: 20px;
        float: left;
        max-width: 200px;
    }


    .wrapper .sidebar {
        background-color: white;
        position: center;
        top: 60%;
        right: 0;
        width: 100%;
        height: 30%;
         transition: all 0.5s ease;
    }

}